@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h4>Add a new course</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title, new { required = "required" })

  <label for="CourseNumber">Course Number:</label>
  @Html.TextBoxFor(model => model.CourseNumber, new { required = "required" })

  <input type="submit" value="Add new course">
}

<p>@Html.ActionLink("Back to course list", "Index")</p>